<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="srujana" class="com.logic.Config">
		<constructor-arg> <ref bean="Car"/>
		</constructor-arg>
		</bean>
	<bean id="Car" class="com.logic.Car" />
	
</beans>